.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;

        @media (max-width: 468px) {
            width: 80vw;
        }

        ::deep {

            img {
                margin-top: -10px;
            }

            h1 {
                font-size: 1.4rem;
            }

            a.invisible-icon {

                img {
                    display: none;
                }
            }
        }

        h1 {
        }
    }

    .card {
        position: relative;
        border: none;
        margin: 1rem 0 3rem 0;

        img.card-image {
        }

        .card-details {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            color: white;
            margin-left: 0.5rem;

            .card-company {
                font-size: 0.9rem;
            }

            .card-number {
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
            }

            .name-expiry-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 300;
            }

            .card-holder {
                font-size: 1rem;
                margin-top: 0.5rem;
            }

            .card-expiry {
                font-size: 0.8rem;
                margin-top: 0.2rem;
            }
        }
    }

    ::deep form {
        .input-container {
            width: 50vw;

            @media (max-width: 468px) {
                width: 85vw;
            }

            .mb-3 {
                position: relative;

                .form-label {
                    position: absolute;
                    margin-top: -8px;
                    margin-left: 20px;
                    background-color: white;
                    padding: 0 10px;
                    color: #626262;
                    font-size: 0.8rem;
                }

                .form-control {
                    border-radius: 2rem;
                    padding: 0.6rem 1.8rem;
                }
            }

            .row {
                display: flex;
                flex-wrap: nowrap;

                .col-6 {
                    flex: 0 0 50%;
                    max-width: 50%;

                    .form-control {
                        width: 100%;
                    }
                }
            }

            .btn-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    border-radius: 2rem;
                    margin-top: 0.5rem;
                    width: 100%;
                    padding: 0.5rem 0;
                }
            }
        }
    }
}
