.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}
@media (max-width: 468px) {
  .container .header {
    width: 80vw;
  }
}
.container .header ::deep img {
  margin-top: -10px;
}
.container .header ::deep h1 {
  font-size: 1.4rem;
}
.container .header ::deep a.invisible-icon img {
  display: none;
}
.container .card {
  position: relative;
  border: none;
  margin: 1rem 0 3rem 0;
}
.container .card .card-details {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  margin-left: 0.5rem;
}
.container .card .card-details .card-company {
  font-size: 0.9rem;
}
.container .card .card-details .card-number {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.container .card .card-details .name-expiry-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.container .card .card-details .card-holder {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.container .card .card-details .card-expiry {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.container ::deep form .input-container {
  width: 50vw;
}
@media (max-width: 468px) {
  .container ::deep form .input-container {
    width: 85vw;
  }
}
.container ::deep form .input-container .mb-3 {
  position: relative;
}
.container ::deep form .input-container .mb-3 .form-label {
  position: absolute;
  margin-top: -8px;
  margin-left: 20px;
  background-color: white;
  padding: 0 10px;
  color: #626262;
  font-size: 0.8rem;
}
.container ::deep form .input-container .mb-3 .form-control {
  border-radius: 2rem;
  padding: 0.6rem 1.8rem;
}
.container ::deep form .input-container .row {
  display: flex;
  flex-wrap: nowrap;
}
.container ::deep form .input-container .row .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.container ::deep form .input-container .row .col-6 .form-control {
  width: 100%;
}
.container ::deep form .input-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container ::deep form .input-container .btn-container .btn {
  border-radius: 2rem;
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
}
