@page "/onboarding-3"

<div class="onboarding-background">
	<div class="onboarding-container">
		<div class="onboarding-content">
			<div>
				<h1 class="text-center">Door To Door Delivery!</h1>
			</div>
			<div>
				<p class="text-center">
					Labore sunt culpa excepteur culpa ipsum.
					Labore accaecat ex nisi mollit.
				</p>
			</div>
			<NavLink href="/"><button class="btn btn-white btn-onboarding">Get started</button></NavLink>
			<div class="onboarding-navbar">
				<NavLink href="./onboarding-1"><div class="onboarding-navbar-inactive"></div></NavLink>
				<NavLink href="./onboarding-2"><div class="onboarding-navbar-inactive"></div></NavLink>
				<span class="onboarding-navbar-active"></span>
			</div>
		</div>
	</div>
</div>