@page "/onboarding-2"
@rendermode InteractiveServer

<div class="onboarding-background">
	<div class="onboarding-container">
		<div class="onboarding-content">
			<div>
				<h1 class="text-center">Easy Track Order!</h1>
			</div>
			<div>
				<p class="text-center">
					Labore sunt culpa excepteur culpa ipsum.
					Labore accaecat ex nisi mollit.
				</p>
			</div>
			<NavLink href="./onboarding-3"><button class="btn btn-white btn-onboarding">Next</button></NavLink>
			<div class="onboarding-navbar">
				<NavLink href="./onboarding-1"><div class="onboarding-navbar-inactive"></div></NavLink>
				<span class="onboarding-navbar-active"></span>
				<NavLink href="./onboarding-3"><div class="onboarding-navbar-inactive"></div></NavLink>
			</div>
		</div>
	</div>
</div>