<div class="categories-bar">
	<NavLink href="/category/Men"><img src="/images/zlatan.jpg" alt="dropdown" class="category-img" />
		<p>Men</p>
	</NavLink>
	<NavLink href="/category/Women"><img src="/images/montazami.jpg" alt="dropdown" class="category-img" />
		<p>Women</p>
	</NavLink>
	<NavLink href="/category/Kids"><img src="/images/kids.png" alt="dropdown" class="category-img" />
		<p>Kids</p>
	</NavLink>
</div>

@code {

}

