<div class="header">
	<div class="burger">
		<NavLink href="/"><img src="/images/icons/arrow-left.svg" style="width: 1rem; height: 1rem;" alt="dropdown" /></NavLink>
	</div>
	<div class="manero-logo">
		<NavLink href="/">Best Sellers</NavLink>
	</div>
	<div class="shopping-cart">
		<NavLink href="/shoppingcart">
			<ManeroBlazorAppv2.Client.Components.Pages.ShoppingCart.ShoppingCartIcon />
		</NavLink>
	</div>
</div>

@code {

}

