@page "/category/{category}"
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="container">
	<div class="wrapper">
		<div class="header">
			<div class="burger">
				<NavLink href="/"><img src="/images/icons/arrow-left.svg" style="width: 1rem; height: 1rem;" alt="dropdown" /></NavLink>
			</div>
			<div class="manero-logo">
				<NavLink>@category</NavLink>
				</div>
				<div class="shopping-cart">
					<NavLink href="/shoppingbag"><img src="/images/icons/bag.svg" alt="cart" style="width: 1.5rem; height: 1.5rem;" /></NavLink>
				</div>
			</div>
			<SortProducts OnSortingOptionChanged="SetSortingOption" />
			<div class="featured-products">
				<div class="product-list">
					<CategoryProducts Category="@category" SortBy="@sortBy" />
				</div>
			</div>
		</div>
	</div>
	@code {
	[Parameter]
	public string category { get; set; }

	private string sortBy { get; set; }

	private void SetSortingOption(string sortingOption)
	{
		sortBy = sortingOption;
		StateHasChanged();
	}
}


