@import '../core/mixins.scss';

.checkout-payment-container {
    padding: 0;
    display: flex;
    flex-direction: column;

    .payment-custom-border-color {
        border-color: rgba(219, 227, 245, 0.5) !important;
    }

    .checkout-payment-header {
        display: flex;
        align-items: center;
        position: relative;
        padding: 1rem 1rem;

        .checkout-payment-back-button {
            background-color: white;
            color: white;
            border: none;
            padding: 0;
            cursor: pointer;
            flex: 0 0 auto;
        }

        .checkout-payment-section-title {
            font-weight: 500;
            font-size: 18px;
            flex: 1;
            text-align: center;
        }
    }

    .checkout-payment-header::before {
        content: "";
        flex: 0 0 auto;
    }

    .no-payment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.5rem;
        margin-top: 20%;

        .no-payment-message {
            font-size: 18px;
            color: var(--color-black);
        }

        .no-payment-link {
            font-weight: 700;
            text-decoration: none;
            color: var(--color-black);
        }

        .no-payment-link:hover {
            color: grey
        }
    }

    .checkout-payment-options-title {
        font-weight: 500;
        font-size: 18px;
        padding: 1rem 1rem;
        border-top: 2px solid rgba(219, 227, 245, 0.5);

        @include s {
            border-right: 2px solid rgba(219, 227, 245, 0.5);
            border-left: 2px solid rgba(219, 227, 245, 0.5);
        }
    }

    .checkout-payment-options {
        border-top: 5px solid rgba(219, 227, 245, 0.5);
        border-bottom: 4px solid rgba(219, 227, 245, 0.5);


        @include md {
            border-right: 2px solid rgba(219, 227, 245, 0.5);
            border-left: 2px solid rgba(219, 227, 245, 0.5);
        }

        .checkout-payment-card-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1rem;
            background-color: rgba(219, 227, 245, 0.3);

            .checkout-payment-details {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;

                .checkout-payment-company {
                    color: var(--color-black);
                    font-weight: 500;
                }

                .checkout-payment-card {
                    font-size: 16px;
                    color: var(--color-grey-500);
                }
            }
        }
    }
}

@include md {
    .checkout-payment-container {
        width: 60%;
        padding-top: 2rem;
    }


}

@include lg {
    .checkout-payment-container {
        width: 50%;
    }


}