*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-black: #111111;
    --color-grey-500: #626262;
    --color-white: #FFFFFF;
    --color-red: #F4303C;
    --color-light-blue: #DBE3F5;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Mulish", sans-serif;
    color: var(--color-black);
    background-color: var(--color-white);
    height: 100vh;
}