@page "/about"

<div class="about-container">
	<div class="manerotation"><h1>Team Dependency Injection!</h1></div>
@* <img src="https://media1.tenor.com/m/oUPZoQwex50AAAAC/drugs-essendon.gif" alt="INJECT!" />
<h1>MANEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERO</h1>
<h2>För frågor hör av er till SCRUMMASTER Per!</h2> *@
</div>

@code {

}
